.areaEmprestimo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.bntEmprestimo {
    width: 12rem !important;
}

.saldoParaEmprestimo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.saldoParaEmprestimo h1 {
    margin-top: 1rem;
    font-size: 36px;
    font-weight: 800;
    color: var(--background--container);
}

.saldoParaEmprestimo span {
    margin-top: 1rem;
    font-size: 36px;
    font-weight: 800;
    color: var(--background--container);
}

.saldoParaEmprestimo p {
    font-size: 16px;
    font-weight: 400;
    color: var(--subtext-color-whitePage);
}

.FormPagamentos {
    width: 80% !important;
}

.inputText {
    width: 100%;
    margin-left: 5px;
}

.erroparcelas {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.arrumatxtValorCpr {
    margin-left: 1rem;
}

.arrumatxtValorCpr p,
.arrumatxtValorCpr p span {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
    color: var(--subtext-color-whitePage);
}

.arrumatxtValorCpr h1,
.arrumatxtValorCpr h1 span {
    margin-top: 4px;
    font-size: 20px;
    font-weight: 600;
    color: var(--background--container);
}

.elementosNc p {
    margin-bottom: 2rem;
}