.areaIA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.elementosIA {
    background-color: var(--background--container);
    width: 95%;
    height: 95%;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.mensagemSemConversa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mensagemSemConversa h1 {
    font-size: 26px;
    font-weight: 600;
    color: var(--text-color);
    max-width: 23rem;
    text-align: center;
}

.mensagemSemConversa p {
    font-size: 16px;
    font-weight: 400;
    color: var(--subtext-color);
    margin-top: 1rem;
    max-width: 30rem;
    text-align: center
}

.formIA {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inputTextIA {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    user-select: none;
}

.inputOrgIA {
    display: flex;
    align-items: center;
    padding: 15px;
    height: 18px;
    font-size: 18px;
    color: var(--primary-color);
    margin: 0.5rem 0 1rem 0;
    border-radius: 1rem;
    border: 2px solid var(--background--container);
    background-color: #292929;
    width: 90%;
}

.inputOrgIA span {
    color: var(--text-color);
    user-select: none;
    cursor: pointer;
}

.mensagens {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    overflow: scroll;
    max-height: 100%;
}

.mensagens::-webkit-scrollbar {
    display: none;
}


.msgIA {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 2rem;
}

.msgUer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1rem 2rem;
}

.cardMsg {
    background-color: #2b2b2b;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border-radius: 1rem;
    max-width: 90%;
}

.ias {
    margin-left: 1rem;
}

.cardMsgIa {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.cardMsg h1 {
    font-size: 16px;
    font-weight: 400;
    color: #cbcbcb;
    padding: 5px;
    max-width: 100%;
    line-height: 1.5rem;
}

.menuUserIconIA {
    background-color: var(--subtext-color-whitePage);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 16px
}

.menuUserIconIA h1 {
    font-size: 16px;
    font-weight: 600;
    color: var(--subtext-color);
}

.cardMsgUser h1 {
    font-size: 16px;
    font-weight: 400;
    color: #cbcbcb;
    text-align: justify;
    padding: 5px;
}

.infosmsg {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.txtCms {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.cardMsgUser {
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    height: 100%;
    padding: 10px;
    border-radius: 1rem;
}

.btnMandaIA {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnbloqueado {
    display: none;
}

.dots {
    width: 35px;
    height: 19px;
    margin: 5px;
    background: radial-gradient(circle closest-side, #eeeef0 90%, #0000) 0% 50%, radial-gradient(circle closest-side, #eeeef0 90%, #0000) 50% 50%, radial-gradient(circle closest-side, #eeeef0 90%, #0000) 100% 50%;
    background-size: calc(100% / 3) 8.4px;
    background-repeat: no-repeat;
    animation: dots-7ar3yq 1.2s infinite linear;
}

@keyframes dots-7ar3yq {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
    }
}