body::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* PIX */
.containerPix {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: scroll;
}

.containerPix::-webkit-scrollbar {
    display: none;
}

/* loading */
.loading {
    display: none;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    width: inherit;
    height: inherit;
    background: #737375cc;
    z-index: 2;
    width: 80%;
    height: 100%;
}

.lds-ring {
    color: #000000
}

.lds-ring,
.lds-ring div {
    box-sizing: border-box;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--background--container) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Skeleton Loading */

.skeletonLoading * {
    position: relative;
    border: none;
    user-select: none;
    z-index: 0;
}

.skeletonLoading .sl::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -4px;
    background: linear-gradient(-45deg, #8d8d8d, #CCCCCC, #d0d0d0);
    width: 110%;
    height: 111%;
    background-size: 400%;
    border-radius: 3px;
    animation: loading 1s linear infinite;
    /* 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #8d8d8d, #CCCCCC, #d0d0d0);
    width: 100%;
    height: 100%;
    background-size: 400%;
    border-radius: 3px;
    animation: loading 1s linear infinite;
    */
}

@keyframes loading {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}


/* Tela Chave PIX */

.areaPix {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.titleAp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleAp h1 {
    font-size: 34px;
    font-weight: 600;
    color: var(--background--container);
}

.aptxt h1 {
    margin-top: 2rem;
}

.titleAp p {
    margin-top: 0.5rem;
    font-size: 18px;
    font-weight: 400;
    color: var(--subtext-color-whitePage);
    max-width: 33rem;
    text-align: center;
}

.pedesenha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FormPix,
.FormPixSenha,
.formValor {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.titleInputs {
    font-size: 14px;
    font-weight: 400;
    color: var(--subtext-color-whitePage);
}

.inputOrg {
    display: flex;
    align-items: center;
    padding: 11px;
    height: 18px;
    font-size: 18px;
    color: var(--primary-color);
    margin: 0.5rem 0 1rem 0;
    border-radius: 0.5rem;
    border: 2px solid var(--background--container);
    background-color: var(--background-color);
}

.inputOrg span {
    color: var(--subtext-color-whitePage);
    font-size: 26px !important;
    user-select: none;
}

input:focus {
    outline: none;
}

.alinhaSmallCampos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alinhabtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alinhabtns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnChavePix {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--background--container);
    color: white;
    font-family: var(--font-family-title);
    border: none;
    user-select: none;
    cursor: pointer;
    margin: 1rem 0;
    border-radius: 5px;
}

.inputText {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    color: var(--subtext-color-whitePage);
    background-color: transparent;
    border: none;
    user-select: none;
}

.inputSelect {
    display: flex;
    align-items: center;
    color: var(--subtext-color-whitePage);
    border: none;
    user-select: none;
    padding: 19.5px;
    font-size: 14px;
    height: 18px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 0.5rem;
    border: 2px solid var(--background--container);
    background-color: var(--background-color);
}

.btnChavePix span {
    margin-left: 10px;
    color: var(--text-color);
}

.itensOptions {
    display: flex;
    align-items: center;
    padding: 12px;
}

.itensOptions:hover {
    background-color: #e6e6e6;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}


.hidden,
.options {
    display: none;
}

.visibility {
    display: block;
    background-color: var(--text-color);
    border-radius: 0.5rem 0.5rem 1rem 1rem;
    margin-top: -1rem;
    align-items: center;
    width: 100%;
}

.selectPersonalizado {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.inputChave {
    font-size: 14px !important;
    color: var(--subtext-color-whitePage);
    padding: 10px;
}

.inputOrgPensonalizado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    height: 18px;
    font-size: 18px;
    color: var(--primary-color);
    margin: 0.5rem 0 1rem 0;
    border-radius: 0.5rem;
    border: 2px solid var(--background--container);
    background-color: var(--background-color);
    cursor: pointer;
    user-select: none;
}

.alinhaIop {
    display: flex;
    align-items: center;
}

.itensOptions p {
    margin-left: 10px;
}

.alinhaFormPix {
    position: relative;
}

.options {
    position: absolute;
    left: 0;
    z-index: 2;
}

.alinhaOp {
    margin: 1rem;
}

.itensOptions span,
.itensOptions p,
.alinhaIop span {
    color: var(--subtext-color-whitePage);
}

.contatos {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.elementosContatos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 3rem;
}

.contatoCe {
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.contatoIcon {
    border: 1px solid var(--subtext-color-whitePage);
    /* background-color: var(--subtext-color-whitePage); */
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.contatoIcon h1 {
    font-size: 16px;
    font-weight: 600;
    color: var(--subtext-color-whitePage);
}

.elementosCce {
    display: flex;
    align-items: center;
}

.infosCce {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.5rem;
}

.infosCce h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--background--container);
}

.infosCce p {
    margin-top: 5px;
    font-size: 14px;
    color: var(--subtext-color-whitePage);
}

.infosCce p span {
    font-size: 15px;
    color: var(--subtext-color-whitePage);
}

.btnContato {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border-radius: 100%;
}

.btnContato span {
    font-size: 16px !important;
    color: var(--background--container);
}

.barra {
    width: 100%;
    height: 1px;
    background-color: #d5d5d5;
    border-radius: 1px;
    margin-top: 1rem;
}

.titleCon {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titleCon p {
    font-size: 16px;
    color: var(--subtext-color-whitePage);
}

.filtros {
    display: flex;
    align-items: center;
    padding: 4px;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--background--container);
    background-color: var(--background-color);
    width: 10rem;
}

.filtros input {
    padding: 5px;
    font-size: 14px;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    width: 100%;
}

.filtros span {
    font-size: 22px;
    color: var(--subtext-color-whitePage);
    user-select: none;
}

.noContacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.elementosNc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elementosNc img {
    width: 6rem;
    height: 6rem;
    user-select: none;
}

.elementosNc h1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--subtext-color-whitePage);
    margin-top: 1rem;
}

.elementosNc p {
    font-size: 14px;
    font-weight: 400;
    color: var(--subtext-color-whitePage);
    max-width: 28rem;
    text-align: center;
    margin-top: 0.5rem;
}

.oculto {
    display: none;
}

/* Tela Chave PIX */
.areaValor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinatario {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.formularios {
    margin-top: 2rem;
}

.areaViewValor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.campoViewValor {
    display: flex;
    align-items: center;
}

.campoViewValor h1 {
    font-size: 54px;
    font-weight: 500;
    color: var(--background--container);
    margin: 0 7px;
}

.campoViewValor p {
    font-size: 24px;
    font-weight: 400;
    color: var(--background--container);
}

#valorC {
    margin-top: -1rem;
}

.saldoAtual {
    margin-top: 10px;
}

.msgErroE,
.msgErroL,
.msgErroH,
.msgErroSenha,
.msgErroConf,
.msgErroEasa {
    display: none;
    font-size: 16px;
    font-weight: 400;
    color: red;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    max-width: 26rem;
}

/* Confirmar as informações */

.confirmaInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infosCf {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.userCf {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.textUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.containerchack {
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    user-select: none;
}

.chacktext {
    font-size: 14px;
    color: var(--background--container);
    text-decoration: none;
    font-weight: 600;
}

.containerchack input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: var(--background-color);
    border: 2px solid var(--background--container);
    border-radius: 2px;
}

.containerchack input:checked~.checkmark {
    background-color: var(--background--container);
}

.containerchack .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid var(--text-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.containerchack input:checked~.checkmark:after {
    display: block;
}

.mostraValorCf {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mostraValorCf h1,
.mostraValorCf span {
    font-size: 38px;
    font-weight: 500;
    color: var(--background--container);
}

.infosUserCf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.destinatarioCf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contatoIconCf {
    border: 1px solid var(--subtext-color-whitePage);
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.contatoIconCf h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--background--container);
}

.infosUserCf h1 {
    font-size: 28px;
    font-weight: 500;
    color: var(--background--container);
    max-width: 22rem;
    text-align: center;
    text-transform: uppercase;
}

.infosUserCf p,
.infosUserCf span {
    font-size: 16px;
    font-weight: 400;
    color: var(--subtext-color-whitePage);
    max-width: 22rem;
    text-align: center;
    margin-top: 0.6rem;
}

/* comprovante */

.comprovante {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}

.infosCpr {
    width: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-color);
    border-radius: 1rem;
    height: 100%;
}

.iconCfr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green);
    border-radius: 100%;
    margin-top: 3rem;
    padding: 20px;
    box-shadow: 0px 2px 30px 0px rgb(79 255 128);
    user-select: none;
}

.iconCfr span {
    font-size: 46px;
    font-weight: bold;
    color: var(--text-color);
}

.textInfosCpr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.textInfosCpr h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--background--container);
}

.textInfosCpr p {
    margin-top: 0.5rem;
    font-size: 16px;
    font-weight: 400;
    color: var(--subtext-color-whitePage);
    max-width: 21rem;
    text-align: center;
}

.barraCpr {
    width: 100%;
    height: 1px;
    background-color: #eeeef0;
    border-radius: 1px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.scrollCpr {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.valorCpr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
}

.txtValorCpr {
    margin-left: 13px;
}

.txtValorCpr h1,
.txtValorCpr span {
    font-size: 22px;
    font-weight: 600;
    color: var(--background--container);
}

.txtValorCpr p {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
    color: var(--subtext-color-whitePage);
    text-align: center;
}

.tpVcpr {
    font-size: 40px !important;
    color: var(--subtext-color-whitePage);
    user-select: none;
}

.enviadoCpr {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
}

.userCpr,
.alinhaEcpr {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.userCpr h2,
.otcElement h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--background--container);
}

.userCpr p,
.otcElement p {
    font-size: 16px;
    font-weight: 400;
    color: var(--subtext-color-whitePage);
}

.userCpr h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--background--container);
}

.txtUserCpr *,
.otcElement * {
    padding: 3px;
}

.alinhaEcpr {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.prxElemUserCpr {
    margin-top: 1rem;
}

.othersIforsCpr {
    display: flex;
    margin: 2rem 0 2rem 2rem;
}

.otcElement:not(:first-child) {
    margin-top: 1rem;
}

/* menu */

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25%;
    background-color: var(--background--container);
    overflow: scroll;
    height: 100%;
}

.menu::-webkit-scrollbar {
    display: none;
}

.itensMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    width: 100%;
}

.linksBanckUser {
    display: flex;
    align-items: center;
}

.menuUserIcon {
    background-color: var(--subtext-color-whitePage);
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.menuUserName {
    margin-left: 1rem;
}

.menuUserName h1 {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.menuUserName h1 span {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.userAccount {
    display: flex;
    align-items: center;
    margin-top: 5px;
    user-select: none;
    cursor: pointer;
}

.userAccount p a {
    font-size: 14px;
    color: var(--subtext-color);
    text-decoration: none;
}

.iconUserAccount {
    font-size: 17px !important;
    color: var(--subtext-color);
    margin-left: 5px;
}

.menuUserIcon h1 {
    font-size: 16px;
    font-weight: 600;
    color: var(--subtext-color);
}

#userName {
    font-size: 18px;
    font-weight: 800;
    color: var(--text-color);
}

.barraCprMenu {
    width: 100%;
    height: 1px;
    background-color: #434343;
    margin: 1rem 0rem;
}

.eleOpb a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.eleOpb a h1 {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 0.5rem;
}

.eleOpb a span {
    font-size: 26px;
    color: var(--subtext-color);
}

.eleOpb a svg {
    width: 24px;
    height: 24px;
}

.opcoesBanck {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    user-select: none;
}

.opcoesBanck li {
    list-style: none;
    width: 100%;
}

.opcoesBanck li a {
    padding: 14px;
}

.opcoesBanck li a:hover {
    background-color: var(--subtext-color-whitePage);
    border-radius: 10px;
}

.homeOb,
.sair {
    width: 100%;
}

.linksBanck {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comprovante {
    display: none;
}

.elementosContatos {
    display: none;
}

.areaPix {
    display: flex;
}

.areaValor {
    display: none;
}

.confirmaInfos {
    display: none;
}

.pedesenha {
    display: none;
}

/* footer */

footer {
    display: none;
    background-color: var(--background--container);
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0;
    border-radius: 1rem 1rem 0rem 0rem;
}

.itensFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.itensFooter ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.itensFooter .itensIfooter {
    list-style: none;
}

.itensFooter .itensIfooter a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.itensFooter .itensIfooter a:hover {
    transition: 0.1s;
    transform: scale(1.1);
}

.itensFooter .itensIfooter a h1 {
    font-size: 12px;
    font-weight: 400;
    color: var(--subtext-color-whitePage);
    margin-top: 4px;
}

.itensFooter .itensIfooter a svg {
    width: 24px;
    height: 24px;
}

.itensFooter .itensIfooter a span {
    font-size: 26px;
    color: var(--subtext-color);
}


.contatoCe {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.contatoCe::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}